<h1>Artist Login</h1>

<h4><%= flash[:notice] %></h4>

<!-- form will POST to ‘/login’ -->
<%= form_tag(login_artist_path) do %>
 <%= label_tag :email %>
 <%= text_field_tag :email %>
<br>
 <%= label_tag :password %>
 <%= password_field_tag :password %>
<br>
 <%= submit_tag 'Login' %>
 <br>
<% end %>
<p>
Are you an artist?
<%= link_to  "Sign Up Here" , new_artist_path %>
</p>
