<style>
.profile_pic{
  border-radius: 50%;
}

</style>

<h1>Artist Show</h1>

<p>
  <div>
  <%= image_tag(@artist.pro_pic_url,:size => "200x200", :class => "profile_pic" )%>
  </div>
  <br>
  <br>
<%= label_tag "Name: " %>
<%= @artist.fullname %>
</p>
  <%= label_tag "Artme Artist Since" %>  <%= @artist.start_date %>

</p>
  <%= label_tag "Location: " %>
  <%= @artist.location %>
</p>


  <%= label_tag "Artworks for sale: (#{@artist.arts.length}) " %>
  <br>

    <% @artist.arts.each do |a| %>
    <%= image_tag(a.img_url, :size => "100x100") %>
    <p>
      <%=link_to a.title, a%>
    </p>
  <%end%>

</p>
  <%= label_tag "Email: " %>
  <%= mail_to @artist.email %>
</p>
  <%=label_tag "Biography: " %>
  <%= @artist.bio %>
    <% if current_artist && session[:artist_id] == @artist.id %>
</p>

    <%= button_to "Delete", @artist , {method: :delete, data: { confirm: "Are you sure?" } }%>
    <%= link_to '<button type = "button">Edit</button>'.html_safe,
           edit_artist_path(@artist.id) %>
   <%= link_to '<button type = "button">New Art</button>'.html_safe, new_art_path %>
   <p><%= link_to '<button type = "button">See My Art Orders</button>'.html_safe, "/artists/#{@artist.id}/order_list" %></p>
    <%end %>
