<style>
.profile_pic{
  border-radius: 50%;
}


input[type= button], input[type=submit], input[type=reset] {
background-color: #015C78;
border: none;
color: white;
padding: 13px 30px;
margin: 4px 2px;
cursor: pointer;
font-size: 15px;
border-radius: 5px;


.showpage_button {
  margin-left: 310px;
  margin-right: 1000px;
}

</style>


&nbsp;&nbsp;&nbsp;&nbsp;
  <div align ="center">
  <br>
<h1><%= @artist.fullname %></h1>
<%= image_tag(@artist.pro_pic_url,:size => "200x200", :class => "profile_pic" )%>
<br>
<p>
  <label> ArtMe Artist Since</label>  <%= @artist.start_date %>

</p>
<p>
  <%= label_tag "ðŸ " %>
  <%= @artist.location %>
</p>

  <%= label_tag "Artworks for sale: (#{@artist.arts.length}) " %>
</br>


  <br>
      <% @artist.arts.each do |a| %>
      <%=link_to image_tag(a.img_url, :size => "100x100"), a %>

    <%end%>

<p>  <%=label_tag "Biography: " %>
  <%= @artist.bio %></p>
<p><%= label_tag "Email: " %>  <%= mail_to @artist.email %> </p>
</div>
<div class="showpage_button", align = "right">
<% if current_artist && session[:artist_id] == @artist.id %>
   <%= button_to "Edit", edit_artist_path(@artist.id) , {method: :get}%>
  <%= button_to "New Art", new_art_path, {method: :get}%>
      <%= button_to "See My Art Orders",  "/artists/#{@artist.id}/order_list" , {method: :get}%>
   <%= button_to "Delete My Account", @artist , {method: :delete, data: { confirm: "Are you sure?" } }%>

    <%end %>
<div>
