<style>
.profile_pic{
  border-radius: 50%;
}


.pic_column {
  display: flex;
  float: left;
  width: 8%;
  padding: 10px;
  margin-left: 310px;
  margin-right: 310px;
}
/* Clearfix (clear floats) */

</style>

<h1 align ="center">Artist Show</h1>

<p>
  <div align ="center">
  <%= image_tag(@artist.pro_pic_url,:size => "200x200", :class => "profile_pic" )%>
  <br>
  <br>
<%= label_tag "Name: " %><%= @artist.fullname %>
<p>
  <label> ArtMe Artist Since</label>  <%= @artist.start_date %>

</p>
  <%= label_tag "Location: " %>
  <%= @artist.location %>
<p>

  <%= label_tag "Artworks for sale: (#{@artist.arts.length}) " %>

</div>

  <br>
    <div class="pic_column">
      <% @artist.arts.each do |a| %>
      <%=link_to image_tag(a.img_url, :size => "100x100"), a %>
    </div>
    <%end%>


<div align ="center">

<br>
  <%=label_tag "Biography: " %>
  <%= @artist.bio %>
    <% if current_artist && session[:artist_id] == @artist.id %>
&nbsp;&nbsp;&nbsp;&nbsp;
<br>
  <%= label_tag "Email: " %>
  <%= mail_to @artist.email %>
</div>
    <%= button_to "Delete", @artist , {method: :delete, data: { confirm: "Are you sure?" } }%>
    <%= link_to '<button type = "button">Edit</button>'.html_safe,
           edit_artist_path(@artist.id) %>
   <%= link_to '<button type = "button">New Art</button>'.html_safe, new_art_path %>
   <p><%= link_to '<button type = "button">See My Art Orders</button>'.html_safe, "/artists/#{@artist.id}/order_list" %></p>
    <%end %>
