<%= form_for @client do |f| %>

  <% if flash[:errors] %>
      <% flash[:errors].each do |err| %>
      <li><%= err %></li>
    <%end%>
  <%end%>

<% if @client.errors.any?%>
<div class="" id="error_explanation">
      <h2> <%=pluralize(@client.errors.count, "error") %> prohibited from being saved:</h2>
      <ul>
          <%@client.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
          <%end%>
      </ul>
      </div>
  <%end%>

 <%=f.label :first_name%><br>
 <%= f.text_field :first_name %><br>

 <%=f.label :last_name%><br>
 <%= f.text_field :last_name %><br>

 <%=f.label :password %><br>
 <%= f.password_field :password %><br>

 <%=f.label :password_confirmation %><br>
 <%= f.password_field :password_confirmation %><br>

 <%=f.label :email%><br>
 <%= f.text_field :email %><br>

 <%=f.label :address%><br>
 <%= f.text_field :address %><br>


  <%= f.submit %>
<% end %>
