
  <caption> <h2>Client Profile </h2></caption>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    <tr>
      <td> <%= @client.fullname%></td>
      <td> <%= @client.email%>  </td>
      <td> <%= @client.address%>  </td>
    </tr>
  </table>
    <p><%= link_to '<button type = "button">Edit Your Account</button>'.html_safe, edit_client_path %>
    <%= button_to "Delete Your Account", @client, {method: :delete, data: { confirm: "Are you sure?"}} %>
    </p>
  <br>
  <h2>Your Favorite Artist</h2>
  <%@client.my_art.uniq.each do |a|%>
  <p>
  <%=link_to a.artist.fullname, "/artists/#{a.artist_id}"%>
  </p>
  <%end%>

<p><%= link_to '<button type = "button">Order Histroy</button>'.html_safe, "/clients/#{@client.id}/order_history" %>
