<style media="screen">


.showpage_button {
display: flex;
text-align: center;
/* flex-direction: column; */
align-items: center;
justify-content: center;
}

input[type= button], input[type=submit], input[type=reset] {
background-color: #015C78;
border: none;
color: white;
padding: 13px 30px;
margin: 4px 2px;
cursor: pointer;
font-size: 15px;
border-radius: 5px;
}
</style>

<div class="wrapper">

  <caption> <h2>Client Profile </h2></caption>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    <tr>
      <td> <%= @client.fullname %> </td>
      <td> <%= @client.email %>  </td>
      <td> <%= @client.address %>  </td>
    </tr>
  </table>
  <div class="showpage_button">

    <%= button_to "Delete Your Account", @client, {method: :delete, data: { confirm: "Are you sure?"}} %>
    <%= button_to "Edit Profile", edit_client_path , method: :get %>
    </p>
  </div>
  <br>
  <h2>Your Favorite Artist </h2>
  <% @client.arts.uniq.each do |a| %>
  <% byebug %>
  <p>
  <%= link_to a.artist, "/artists/#{a.artist_id}" %>
  </p>
  <% end %>
  <div class="showpage_button">

<%= button_to "Order Histroy", "/clients/#{@client.id}/order_history", method: :get %>
</div>
</div>
