
<style media="screen">
  input[type="submit" i] {
   background-color: #015C78;
   border: none;
   color: white;
   padding: 13px 30px;
   margin: 4px 2px;
   cursor: pointer;
   font-size: 15px;
   border-radius: 5px;
  }

</style>
<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <li><%= err %></li>
  <%end%>
<%end%>


<%= form_for @art do |f| %>

<% if @art.errors.any?%>
<div class="" id="error_explanation">
      <h2> <%=pluralize(@art.errors.count, "error") %> prohibited from being saved:</h2>
      <ul>
          <%@art.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
          <% end %>
      </ul>
      </div>
  <%end%>

 <%= f.label :title %> <br>
 <%= f.text_field :title %><br>

 <%= f.label :artist_name %>
 <%= current_artist.fullname %><br>

 <br>

 <%= f.label :descrption%><br>
 <%= f.text_area :descrption, size: "40x10" %><br>

 <%= f.label :price%><br>
 <%= f.text_field :price %><br>

 <%=f.label "Created Date: "%><br>
 <%= f.date_field :est_date, :placeholder => 'dd/mm/yyyy' %><br>

 <%=f.label "Time Required Days" %><br>
 <%= f.number_field :time_required %> <br>

 <%=f.label :img_url%><br>
 <%= f.text_field :img_url%><br>

  <%= f.submit %>
<% end %>
