
<%=form_tag(arts_path, method: :get) do%>
<%=text_field_tag(:search,params[:search])%>
<%=submit_tag ("Search")%>
<%end%>

<h1>Arts List</h1>
<%= flash[:notice]%>

<% @arts.each do |a|%>
<%= image_tag("https://cdn4.iconfinder.com/data/icons/flat-icon-set/2133/flat_icons-graficheria.it-09.png", :size => "200x200") %>
<h2><%=link_to a.title, a %></h2>
<h3><%= link_to a.artist.fullname, artist_path(a.artist.id) %></h3>
<h3>$ <%= a.price %></h3>

  <%end%>
