
<img src="<%= @art.img_url %>" alt="">

    <p><%= label_tag "Title: " %>
    <%= @art.title %></p>

    <p><%= label_tag "Price: " %>
    <%= @art.price %></p>

    <p><%= label_tag "Description: " %>
    <%= @art.descrption %></p>

    <p><%= label_tag "Created Date: " %>
    <%= @art.est_date.strftime("%B %d, %Y") %></p>

    <p><%= label_tag "Time Required:" %>
    <%= @art.time_required %> Days</p>

    <%= link_to @art.artist.first_name, artist_path(@art.artist.id) %>

    <%= button_to "Add to Cart", '/add_to_cart', {method: :patch,  params: {id: @art.id, name: @art.title, price: @art.price} } %>
    <!-- add a button to add it to the cart -->

  </div>
