<div class="wrapper">

<%= image_tag(@art.img_url, :size => "400x400") %>
<hr>

    <p><%= label_tag "Title: " %>
    <%= @art.title %></p>

    <p><%= label_tag "Artist Name: " %>
    <%= link_to @art.artist.fullname, artist_path(@art.artist.id) %>

    <p><%= label_tag "Price: " %>
    $<%= @art.price %></p>

    <p><%= label_tag "Description: " %>
    <%= @art.descrption %></p>

    <p><%= label_tag "Created Date: " %>
    <%= @art.est_date.strftime("%B %d, %Y") %></p>

    <p><%= label_tag "Time Required:" %>
    <%= @art.time_required %> Days</p>

    <% if current_client%>
    <%= button_to "Add to Cart", '/add_to_cart', {method: :patch,  params: {id: @art.id, name: @art.title, price: @art.price} } %>
    <% end %>

    <% if current_artist && session[:artist_id] == @art.artist_id %>

    <%= button_to "Edit", edit_art_path, {method: :get} %>
    <%= button_to "Delete", @art , {method: :delete, data: { confirm: "Are you sure?" } }%>
    <% end %>
  </div>
</div>
