<style>
h2 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
</style>


<h2>What's in Your Cart?</h2>
<h3>Your Cart: </h3>
<ol>
<table>
  <tr>
    <th>Art Name</th>
    <th>Quantity</th>
    <th>Price</th>
 </tr>
 <tr>
     <% @cart_arr.each do |a|%>
     <td><%=a[0]["title"]%></td>
     <td><%=a[1]%></td>
     <td><%="$ #{a[0]["price"]*a[1]}"%></td>
 </tr>
  <%end%>
</table>


  <%= button_to "Check Out", '/ordered_arts/new', {method: :get}  %>
  <%= button_to "empty the cart", '/empty_the_cart', {method: :get} %>
</ol>
